# === WARMUP: low_rank_window_adaptation (max_rank=$wp_max_rank, target_acceptance_rate=$target_acceptance_rate, n_warmup=$n_warmup) ===
_warmup = blackjax.adaptation.low_rank_adaptation.low_rank_window_adaptation(
    blackjax.nuts,
    logdensity_fn,
    max_rank=$wp_max_rank,
    target_acceptance_rate=$target_acceptance_rate,
    progress_bar=False,
)
(_state_post_warmup, _adapted_params), _ = _warmup.run(
    jax.random.key($tuning_seed), init_position, $n_warmup
)
